@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');

body{
  height: 100vh;
  overflow-y: hidden;
  background-color: #021110;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.digital-container{
  color: #812145;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-family: 'Big Shoulders Display', cursive;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -10;
}
.brand{
  position: absolute;
  left: 50%;
  bottom: 80px;
  transform: translateX(-50%);
  color: goldenrod;
  z-index: -10;
}
.analog-container{
  height: 50vh;
  position: relative;
}
.clock-circle{
  height: 400px;
  width: 400px;
  border: 4px solid #eee;
  border-radius: 50%;
  position: relative;
}
.clock-circle div.big{
  height: 5px;
  width: 30px;
  background-color: #eee;
  position: absolute;
  border-radius: 5px;
}
#top{
  left: 50%;
  top: 0;
  transform: translate(-50%, 200%) rotate(90deg);
}
#right{
  top: 50%;
  right: 0;
  transform: translate(10%, -50%);
}
#bottom{
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -200%) rotate(90deg);
}
#left{
  top: 50%;
  left: 0;
  transform: translate(-10%, -50%);
}
.clock-circle div.little{
  height: 3px;
  width: 20px;
  background-color: #ddd;
  position: absolute;
  border-radius: 5px;
}
#one{
  left: 290px;
  top: 35px;
  transform: rotate(-60deg);
}
#two{
  left: 355px;
  top: 100px;
  transform: rotate(-30deg);
}
#four{
  left: 355px;
  bottom: 100px;
  transform: rotate(30deg);
}
#five{
  left: 290px;
  bottom: 35px;
  transform: rotate(60deg);
}
#seven{
  right: 290px;
  bottom: 35px;
  transform: rotate(-60deg);
}
#eight{
  right: 355px;
  bottom: 100px;
  transform: rotate(-30deg);
}
#ten{
  right: 355px;
  top: 100px;
  transform: rotate(30deg);
}
#eleven{
  right: 290px;
  top: 35px;
  transform: rotate(60deg);
}
.middle-dot{
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background-color: #eee;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.sec, 
.min, 
.hour{
  height: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) rotate(-90deg);
  transform-origin: left center;
  border-radius: 5px;
}
.sec{
  width: 165px;
  background-color: crimson;
  z-index: -3;
}
.min{
  width: 140px;
  background-color: #eee;
  z-index: -2;
}
.hour{
  width: 80px;
  background-color: #aaa;
}

