@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');

body{
  height: 100vh;
  overflow-y: hidden;
  background-color: #021110;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.digital-container{
  color: #812145;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-family: 'Big Shoulders Display', cursive;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -10;
}
.brand{
  position: absolute;
  left: 50%;
  bottom: 80px;
  transform: translateX(-50%);
  color: goldenrod;
  z-index: -10;
}
.analog-container{
  height: 50vh;
  position: relative;
}
.clock-circle{
  height: 400px;
  width: 400px;
  border: 4px solid #eee;
  border-radius: 50%;
  position: relative;
}
.clock-circle .number{
  --rotate: 0deg;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #eee;
  font-size: 20px;
  transform: rotate(var(--rotate));
  font-family: sans-serif;
}
.clock-circle .number1{--rotate: 30deg;}
.clock-circle .number2{--rotate: 60deg;}
.clock-circle .number3{--rotate: 90deg;}
.clock-circle .number4{--rotate: 120deg;}
.clock-circle .number5{--rotate: 150deg;}
.clock-circle .number6{--rotate: 180deg;}
.clock-circle .number7{--rotate: 210deg;}
.clock-circle .number8{--rotate: 240deg;}
.clock-circle .number9{--rotate: 270deg;}
.clock-circle .number10{--rotate: 300deg;}
.clock-circle .number11{--rotate: 330deg;}

.middle-dot{
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background-color: #eee;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.sec, 
.min, 
.hour{
  height: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) rotate(-90deg);
  transform-origin: left center;
  border-radius: 5px;
}
.sec{
  width: 165px;
  background-color: crimson;
  z-index: -3;
}
.min{
  width: 140px;
  background-color: #eee;
  z-index: -2;
}
.hour{
  width: 80px;
  background-color: #aaa;
}

